# Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing Dataset

In [3]:
df = pd.read_csv('50_Startups.csv')

# Understanding Dataset

In [4]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

# Splitting into Independent (X) and Dependent (y) variables

In [6]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

# Encoding Categorical Data

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

In [ ]:
type(X)

numpy.ndarray

# Splitting datasets into Training and Test set

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=123)

# Training Multiple Linear Regression model on Training set

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predicting Test results

In [14]:
y_pred = lr.predict(X_test)

In [15]:
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),axis=1))

[[133749.92 146121.95]
 [126771.56 134307.35]
 [ 97712.5   99937.59]
 [ 58138.83  49490.75]
 [128196.54 124266.9 ]
 [192274.04 192261.83]
 [ 75126.75  78239.91]
 [127984.52 141585.52]
 [101453.66 101004.64]
 [151532.51 152211.77]]

### **Making a single prediction (for example the profit of a startup with R&D Spend = 160000, Administration Spend = 130000, Marketing Spend = 300000 and State = 'California')**

In [17]:
print(lr.predict([[1, 0, 0, 160000, 130000, 300000]]))

[181303.06]

## **Getting the final linear regression equation with the values of the coefficients**

In [18]:
print(lr.coef_)
print(lr.intercept_)

[-1.45e+02 -4.15e+02  5.61e+02  7.75e-01 -1.64e-02  3.63e-02]
48661.69989652702